body{
    margin: 0;
    padding: 0;
    background: white;
}
*{
                margin: 0px;
                padding: 0px;
            }
            .body1{
                background-color:white;
            }
            #contain ul{
                list-style:none;
            }#contain6 ul{
                list-style:none;
            }
            
            
            
            #contain1 ul{
                list-style:none;
            }
              #contain2 ul{
                list-style:none;
            }

            #contain ul li{
                background-color:#f5741e;
                width:230px;
                border: 0px solid white;
                height: 56px;
                line-height: 50px;
                text-align: center;
                float: left;
                color:white;
                font-size: 18px;
                position: relative;
                
            }
            #contain3 ul li{
                background-color: #ede0e0;
                width: 336px;
                border: 0px solid white;
                height:300px;
                line-height: 50px;
                text-align: center;
                float: center;
                color:white;
                font-size: 18px;
                position: relative;
                
            }
            #contain4 ul li{
                background-color: white;
                width: 336px;
                border: 0px solid white;
                height:242px;
                line-height: 50px;
                text-align: center;
                float: center;
                color:white;
                font-size: 18px;
                position: relative;
                
            }#contain5 ul li{
                background-color: #dadada;
                width: 1430px;
                border: 0px solid white;
                height: 242px;
                line-height: 50px;
                text-align: center;
                float: center;
                color:black;
                font-size: 18px;
                position: relative;
                
            }
            #contain6 ul li{
                background-color: #dadada;
                width: 1200px;
                border: 0px solid white;
                height: 208px;
                line-height: 50px;
                text-align: center;
                float: center;
                color:black;
                font-size: 13px;
                position: relative;
                
            }
           
            #contain2 ul li{
                background-color:white;
                width:130px;
                border: 0px solid white;
                height: 52px;
                line-height: 50px;
                text-align: center;
                float: left;
                color:black;
                font-size: 18px;
                position: relative;
                
            }
           #contain1 ul li{
                background-color:#7a7bb2;
                width:120px;
                border: 0px solid white;
                height: 50px;
                line-height: 50px;
                text-align: center;
                float: left;
                color:white;
                font-size: 18px;
                position: relative;
                margin-left: 344;
                opacity: .8;
            }
             /* #container ul li:hover{
                background-color: orangered;
                
            }
            #container2 ul li:hover{
                background-color: #f4eae6;
                
            }
            
            
            
            #container ul li:hover > ul{
                display: block;
            }
            #container1 ul li:hover > ul{
                display: block;
            
            }*/
            #contain ul ul ul{
                margin-left: 150px;
                top: 0px;
                position: absolute;
            }
            #contain ul ul ul ul{
                margin-left: 150px;
                top: 0px;
                position: absolute;
            }
            .class1
            {
                height:100px;
                width:100px;
                border:1px solid grey;
            }
            
            
        